.linkpic {
    height: 250px;
    width: 250px;
    display: table-row;
}

.right {
    display:block;
    float: right;
}

.center {
    display:block;
    float: center;
} 

.left {
    display:block;
    float: left;
}
