.linkpic {
    height: 250px;
    width: 250px;
}

.right {
    display:block;
    float: right;
}

.center {
    display:block;
    float: center;
} 

.left {
    display:block;
    float: left;
}
<html>
<body background="TechBackground.jpg">
</body>
</html>
