.linkpic {
    height: 250px;
    width: 250px;
}

.right {
    display:block;
    float: right;
}

.center {
    display:block;
    float: center;
} 

.left {
    display:block;
    float: left;
}

h1 {
    font-size: 375%;
    
}
body {
    font-size: 350%

}
<div class="row">
  <div class="column">
    <img src="drivelogo.png" alt="Drive" style="width:100%">
  </div>
  <div class="column">
    <img src="KeepLogo.png" alt="Keep" style="width:100%">
  </div>
  <div class="column">
    <img src="DocsLogo.png" alt="Docs" style="width:100%">
  </div>
</div>
